<h1>
    <img src="https://emojis.slackmojis.com/emojis/images/1660853767/60881/meow_attention.gif?1660853767" width="25"/> 
    你好！欢迎来到我的 GitHub 主页。
</h1>

<p>
    我是{{name}}，一个充满奇思妙想的程序员，目前在中国厦门从事移动端开发。<br />
    在工作之余，用代码去做一些有趣的项目，我为自己正在做的事情感到自豪，也许改变世界很难，但是做点有意思的事情刚刚好。 <br />
    如果你对我的项目感兴趣，欢迎与我联系！<br />
</p>

<p>
    短语分享：<b>「{{ text }}」</b>
</p>

<p>
    这个 <b>README</b> 文件每 <b>6</b> 个小时自动更新！<br />
    最近更新：{{date}}<br />
</p>

<p>
    <img src="https://github.com/cccoding365/cccoding365/workflows/README%20build/badge.svg" /> 
    <img alt="Stars" src="https://img.shields.io/github/stars/cccoding365/cccoding365?style=flat-square&labelColor=343b41"/> 
    <img alt="Forks" src="https://img.shields.io/github/forks/cccoding365/cccoding365?style=flat-square&labelColor=343b41"/>
</p>