h1.column-heading {
  position: relative;
}

h1.column-heading::after {
  content: '';
  position: absolute;
  margin: 10px 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--theme-color);
  height: 7px;
  width: 70px;
  border-radius: 5px;
}